@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cell-border-width: 2px;
  --cell-border-color: #F2F3F4;
  --block-color: #F2F3F4;
  --block-hover-color: #D0D3D4;
  --block-destroyed-color: red;
  --inner-grid-border-color: gainsboro;
  --inner-cell-border-style: solid;
  --tip-tap-color: #26F7B1; 
  --animation-speed: 1000ms;
  --animation-speed-fast: 250ms;
  --default-cell-bg-color: theme('colors.white');
  --default-cell-border-color: theme('colors.black');
  --default-cell-text-color: theme('colors.black');
  --absent-cell-bg-color: theme('colors.slate.400');
  --correct-cell-bg-color: theme('colors.green.400');
  --present-cell-bg-color: theme('colors.yellow.400');
}

.dark {
  --default-cell-bg-color: theme('colors.slate.900');
  --default-cell-border-color: theme('colors.white');
  --default-cell-text-color: theme('colors.white');
  --absent-cell-bg-color: theme('colors.slate.700');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}
/* body {
  color: white;
  background: black;
} */

html.dark  body {
  background-color: rgb(15, 23, 42);
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

.board.board-freeze {
  pointer-events: none;
  cursor: not-allowed;
}

.board-row:first-child .board-cell {
  border-top: var(--cell-border-width) solid var(--cell-border-color);
}

.board-cell {
  cursor: pointer;
  position: relative;
  transition: background 400ms;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: var(--cell-border-width) solid var(--cell-border-color);
  border-bottom: var(--cell-border-width) solid var(--cell-border-color);
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(127, 255, 212, 0.7);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.board-cell.is-block {
  position: relative;
  cursor: pointer;
  pointer-events: none;
  transition: background ease-in-out 300ms;
  background-color: var(--block-color);
}

.board-cell.is-block:hover {
  background-color: var(--block-hover-color);
}

.board-cell.is-block::after {
  content: '';
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
}

.board-cell.is-block:not(.is-destroyed)::after {
  border: var(--cell-border-width) solid darkgray;
}

.board-cell.is-block.is-destroyed {
  background-color: var(--block-destroyed-color);
}

.board-cell:nth-child(1),
.board-cell:nth-child(11) {
  border-right-style: var(--inner-cell-border-style);
  border-right-color: var(--inner-grid-border-color);
}

.board-row:first-child .board-cell:nth-child(1),
.board-row:last-child .board-cell:nth-child(1),
.board-row:first-child .board-cell:nth-child(11),
.board-row:last-child .board-cell:nth-child(11) {
  border-right-color: var(--cell-border-color);
}

.board-row .board-cell:first-child {
  border-left: var(--cell-border-width) solid var(--cell-border-color);
}

.board-row .board-cell:last-child {
  border-right: var(--cell-border-width) solid var(--cell-border-color);
}

.board-row:first-child .board-cell {
  border-right-style: var(--inner-cell-border-style);
  border-bottom-color: var(--inner-grid-border-color);
}

.board-row:first-child .board-cell:first-child,
.board-row:first-child .board-cell:last-child {
  border-bottom-color: var(--cell-border-color);
}

.board-row:nth-child(11) .board-cell {
  border-right-style: var(--inner-cell-border-style);
  border-bottom-color: var(--inner-grid-border-color);
}

.board-row:nth-child(11) .board-cell:first-child,
.board-row:nth-child(11) .board-cell:last-child {
  border-bottom-color: var(--cell-border-color);
}

.board-cell:not(.is-block):hover .board-cell-overlay{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 5px solid var(--cell-border-color) !important;
}

.board-row .board-cell:not(.is-block):first-child:hover,
.board-row .board-cell:not(.is-block):last-child:hover {
  border-width: 0;
}

.board-cell.is-selected {
  position: relative;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-cell.is-selected::after {
  content: '';
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transition: background 600ms;
  animation: cellfill 600ms;
  animation-fill-mode: forwards;
  background-color: rgba(127, 255, 212, 0);
}

@keyframes cellfill {
  to {
    background-color: var(--tip-tap-color);
  }
}